<template name="create">

    <div class="page create">
        <h1>New Board Post</h1>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="body">Text</label>
                <textarea class="form-control" id="body" rows="6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary create-post">submit post</button>
        </form>
    </div>

</template>