<template name="list">
    <div class="posts list">
        <div class="wrapper">
            {{#each posts}}
                {{> item}}
            {{/each}}
        </div>

        {{#if nextPath}}
            <a class="btn btn-primary btn-block load-more" href="{{nextPath}}">Load more <br><span class="glyphicon glyphicon-chevron-down"></span></a>
        {{else}}
            {{#unless ready}}
                <div class="loading">{{> spinner}}</div>
            {{/unless}}
        {{/if}}
    </div>
</template>
